h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  @media #{$medium-up} {
  }
  @media #{$large-up} {
  }
}

//helper for font weight
//Open+Sans:400,700,800|Raleway:400,200,700
.font-light {
  font-weight: 200;
}
.font-weight-normal {
  font-weight: 400;
}
.font-bold {
  font-weight: 700;
}
.font-heavy {
  font-weight: 800;
}

.quiet {
  font-size: 80%;
}

#content {
  min-height: 14rem;
}

.content {
  h1 {margin-top: 2rem;}
  p {font-size: 1.3rem;}
}

.label {
  vertical-align: middle;
  font-weight: 400;
}

.top-bar {
    background-color: $primary-color;
    ul, ul ul {
      background-color: $primary-color;
    }
    a {
      color: $dark-gray;
    }
}

.menu-text {
  padding: 0;
}

footer {
  padding-top: 1rem;
  background-color: $primary-color;
  color: $dark-gray;
  a {
    color: $dark-gray;
    &:hover {
      color: scale-color($dark-gray, $lightness: 15%);
    }
  }
  h6 {
    margin-bottom: 0;
  }
}

.home__title {
  padding: 0 2rem;
}

.home__image {
  width: 100%;
}

.home__text {
  width: 100%;
  padding: 2rem 10%;
  @media #{$large-up} {
    padding: 2rem 20%;
  }
  & p {
    font-size: 1.1rem;
  }
  & a {
    font-weight: bold;
  }
  & h1 {
    margin-top: 0;
  }
}

.home-caption {
  width: 100%;
  color: $black;
  text-align: left;
  font-size: .75rem;
  padding: .5rem;
}

.button.hollow {
  border-color: $primary-color;
  color: $primary-color;
  &:hover {
    border-color: scale-color($primary-color, $lightness: -20%);
    color: scale-color($primary-color, $lightness: -20%);
  }
}
