h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
  @media #{$medium-up} {
  }
  @media #{$large-up} {
  }
}

//helper for font weight
//Open+Sans:400,700,800|Raleway:400,200,700
.font-light {
  font-weight: 200;
}
.font-weight-normal {
  font-weight: 400;
}
.font-bold {
  font-weight: 700;
}
.font-heavy {
  font-weight: 800;
}

.quiet {
  font-size: 80%;
}

#content {
  min-height: 14rem;
}

.content h1 {
  margin-top: 2rem;
}

.label {
  vertical-align: middle;
  font-weight: 400;
}

.top-bar {
    background-color: $primary-color;
    ul, ul ul {
      background-color: $primary-color;
    }
    a {
      color: $white;
    }
}

.menu-text {
  padding: 0;
}

footer {
  padding-top: 1rem;
  background-color: $primary-color;
  color: $white;
  a {
    color: $white;
    &:hover {
      color: scale-color($white, $lightness: -15%);
    }
  }
  h6 {
    margin-bottom: 0;
  }
}

.home-section {
  padding-bottom: 30%;
  padding-top: 30%;

}

.home-title {
  background-image: url(/img/cover.jpg);
  background-size: cover;
  background-position: center;
  color: $white;
  margin-bottom: -3rem;
  @media #{$medium-up} {
    margin-bottom: -2rem;
  }
}

.home-caption {
  color: $white;
  text-align: center;
  background-color: rgba(10, 10, 10, 0.5);
  position: relative;
  bottom: 0;
  height: 3rem;
  p {
    line-height: 1.5rem;
  }
  @media #{$medium-up} {
    height: 2rem;
    p {
      line-height: 2rem;
    }
  }
}

.button.hollow {
  border-color: $primary-color;
  color: $primary-color;
  &:hover {
    border-color: scale-color($primary-color, $lightness: -20%);
    color: scale-color($primary-color, $lightness: -20%);
  }
}
