<div data-sticky-container class="show-for-medium">
  <div class="sticky" data-sticky data-stick-to="bottom" data-top-anchor="content:bottom" style="width:100%">
    <footer class="footer expanded row">
      <div class="row quiet">
        <div class="small-12 large-2 columns">
          <h5><a href="{{site.url}}/academics">academics</a></h5>
          <p>Overview of my academic work.</p>
        </div>
        <div class="small-12 large-2 columns">
          <h5><a href="{{site.url}}/architecture">architecture</a></h5>
          <p>My work as a practicing architect.</p>
        </div>
        <div class="small-12 large-2 columns">
          <h5><a href="{{site.url}}/cv">cv</a></h5>
          <p>Official curriculum vitae.</p>
        </div>
        <div class="small-6 large-2 columns">
          <h5><a href="{{site.url}}/contact">contact</a></h5>
          <p>Other places to find me.</p>
        </div>
        <div class="small-12 medium-12 large-4 columns large-text-right">
          <ul class="no-bullet">
            <li>
              <a href="https://www.linkedin.com/in/azra-dawood-7972a44"><i class="fa fa-linkedin-square fa-2x"></i></a>
              <a href="https://idin.academia.edu/AzraDawood"><i class="ai ai-academia-square ai-2x"></i></a>
              <a href="https://twitter.com/4jjoo"><i class="fa fa-twitter-square fa-2x"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</div>
