<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} - {{ site.name }}</title>
  <meta name="description" content="{{site.description}}" />
  <meta name="keywords" content="{{ page.keywords }}, {{ site.keywords }}" />

  <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700,800|Raleway:400,200,700" rel="stylesheet" type="text/css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{site.url}}/css/academicons.min.css"/>

  <link rel="stylesheet" href="{{site.url}}/css/app.css">

  <link rel="shortcut icon" href="favicon.ico">

  <meta property="og:site_name" content="{{ site.name }}"/>
  <meta property="og:url" content="{{ site.url }}"/>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@{{ site.twitter }}">
  <meta name="twitter:image" content="{{site.url}}/img/Dawood_Photo_social.jpg">
  <meta property="og:title" name="twitter:title" content="{{ page.title }}">
  <meta property="og:description" name="twitter:description" content="{{ site.description }}">
  <meta property="og:image:url" content="{{site.url}}/img/Dawood_Photo.jpg">
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "url": "{{site.url}}{{ page.url }}",
    "description": "{{ site.description }}",
    "image": "{{site.url}}/img/Dawood_Photo.jpg",
    "author": [{
      "@type": "Person",
      "name": "Azra Dawood"
    }]
  }
  </script>
</head>
