<div class="top-bar expanded row" data-options="marginTop:0;" style="width:100%">
  <div class="top-bar-left">
    <ul class="dropdown vertical medium-horizontal menu" data-responsive-menu="drilldown medium-dropdown">
      <li class="menu-text"><a href="{{site.url}}/">{{ site.brand }}</a></li>
      <li><a href="{{site.url}}/research">research</a></li>
      <li><a href="{{site.url}}/architecture">architecture</a></li>
      <li><a href="{{site.url}}/teaching">teaching</a></li>
      <li><a href="{{site.url}}/cv">cv</a></li>
      <li><a href="{{site.url}}/contact">contact</a></li>
    </ul>
  </div>
</div>
